@import "base/variables";
@import "base/typography";

@import "modules/maps";
@import "modules/header";
@import "modules/footer";
@import "modules/page-elements";

:root {
  --nav-active-link: #faf0ca;
}

.hidden {
  display: none;
}

.search-trigger {
  cursor: pointer;
}
